body {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(41, 41, 41);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.container {
    margin: 0;
    padding: 10px;
    overflow: hidden;
    max-width: 470px;
}


h1 {
    font-size: 18px;
    text-align: center;
    color: white; 
    font-weight: 400;
    display: block; 
}

form {
    margin-top: 25px;
    margin-bottom: 15px;
    position: relative;
    overflow-x: hidden;
    border-radius: 5px;
}

input[type="text"] {
    width: 100%;
    margin: 0;
    background-color: rgb(133, 133, 133); 
    border: none;
    color: white; 
    font-size: 13px;
    padding: 12px;
}

input[type="text"]::placeholder {
    color: white;
}

input:focus input[type="text"]::placeholder {
    content: "";
}

span {
    font-weight: 700;
}

.tag {
    display: inline-block; 
    padding: 5px 10px;
    color: rgb(0, 0, 0); 
    background-color: white; 
    border-radius: 10px; 
    margin-right: 7px;
    margin-bottom: 10px;
}

.choiceTagsWrapper {
    display: flex;
    flex-wrap: wrap;
}

.tag.active {
    background-color: red; 
}